:root {
	--babycalendar-border-color: rgb(206, 212, 218);
	--babycalendar-header-background-color: #eee;
	--babycalendar-event-background-hover-color: #eee;
	--babycalendar-day-color: black;
	--babycalendar-day-background-color: #a85c4f;
	--babycalendar-border-radius: 8px;
}

.babycalendar {
	display: grid;
	grid-template-rows: 0fr 0fr 1fr;
	border-left: 1px solid var(--babycalendar-border-color);
	border-right: 1px solid var(--babycalendar-border-color);
	border-bottom: 1px solid var(--babycalendar-border-color);
	max-width: 20em;
	width: 20em;
	border-radius: var(--babycalendar-border-radius);
	font-family: 'Aref Ruqaa', serif;
	background-color: #ffffff;
	box-shadow: inset 0 -3em 1em .2em rgba(197, 197, 197, 0.1),
				0 0  0 1.2px rgb(255,255,255),
				0em 0.2em 1em rgba(102, 102, 102, 0.3);
	padding: 8px;
	margin-bottom: 15px;
	
}

.babycalendar .header-row {
	display: grid;
	border-bottom: 1px solid var(--babycalendar-border-color);
	background-color: var(--babycalendar-header-background-color);
	grid-template-columns: repeat(7, 14%);
	justify-items: center;
	height: 1.4em;
}

.babycalendar .header-day {
	padding: 0.2em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 15px;

}

.babycalendar .body {
	height: 100%;
	width: 100%;
	display: grid;
}

.babycalendar .body .week {
	grid-template-columns: repeat(7, 1fr);
	display: grid;
	height: 100%;
	width: 100%;
	align-items: center;
}

.babycalendar .body .week .day {
	text-align: center;
	padding: 0.5em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 16px;
	text-decoration: none;

}

.babycalendar .body .week .day:hover {
	background-color: var(--babycalendar-event-background-hover-color);
	border-radius: 3px;
}

.babycalendar .body .week .day.disabled:hover {
	background-color: transparent;
}

.babycalendar .body .week .day.has-event {
	background-color: var(--babycalendar-day-background-color);
	border-radius: 3px;
	color:white;
}

.babycalendar .body .week .day.has-event a {
	color: white;
}

.babycalendar .body .week .day a {
	color: rgb(78, 78, 78);
	text-decoration: none;

}

.babycalendar .navigation {
	display: grid;
	grid-template-columns: 0.1fr 0.8fr 0.1fr;
	margin-bottom: 5px;
}

.babycalendar .navigation .navigation-button {
	border: 1px solid var(--babycalendar-border-color);
	padding: 0.3em;
	cursor: pointer;
}

.babycalendar .navigation .navigation-button:hover {
	background-color: #000000;
}
.babycalendar .navigation .left {
	border-radius: 5PX;
	box-shadow: inset  0 -3em 3em .2em rgba(255, 255, 255, 0.1);
}

.babycalendar .navigation .left:hover {
	color:rgb(172, 172, 172);
}

.babycalendar .navigation .left:before {
	content: "<";
}

.babycalendar .navigation .right {
	border-radius: 5PX;
}

.babycalendar .navigation .right:hover {
	color:rgb(172, 172, 172);
}

.babycalendar .navigation .right:before {
	content: ">";
}

.babycalendar .navigation .navigation-label {
	text-align: center;
	font-weight: bold;
	color: #723f36;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.today{
	border-radius: 5px;
	stroke-width: 0px;
	border-width: .1px;
	border-color: rgb(184, 184, 184);
	padding: 4px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	box-shadow: 0em 0.2em .2em rgba(102, 102, 102, 0.3);
	color:rgb(70, 70, 70);
	cursor: pointer;
}


.today:hover{
	background-color: #f5d6d0;
	color:rgb(247, 247, 247);
}

