:root {
	--babycalendar-border-color: rgb(206, 212, 218);
	--babycalendar-header-background-color: #eee;
	--babycalendar-event-background-hover-color: #eee;
	--babycalendar-day-color: blue;
	--babycalendar-day-background-color: #33D1FF;
}

.babycalendar {
	display: grid;
	grid-template-rows: 0fr 0fr 1fr;
	border-left: 1px solid var(--babycalendar-border-color);
	border-right: 1px solid var(--babycalendar-border-color);
	border-bottom: 1px solid var(--babycalendar-border-color);
	max-width: 20em;
	width: 20em;
}

.babycalendar .header-row {
	display: grid;
	border-bottom: 1px solid var(--babycalendar-border-color);
	background-color: var(--babycalendar-header-background-color);
	grid-template-columns: repeat(7, 14%);
	justify-items: center;
	height: 1.4em;
}

.babycalendar .header-day {
	padding: 0.2em;
}

.babycalendar .body {
	height: 100%;
	width: 100%;
	display: grid;
}

.babycalendar .body .week {
	grid-template-columns: repeat(7, 1fr);
	display: grid;
	height: 100%;
	width: 100%;
	align-items: center;
}

.babycalendar .body .week .day {
	text-align: center;
	padding: 0.5em;
}

.babycalendar .body .week .day:hover {
	background-color: var(--babycalendar-event-background-hover-color);
}

.babycalendar .body .week .day.disabled:hover {background-color: transparent;}
.babycalendar .body .week .day.has-event {background-color: var(--babycalendar-day-background-color);}

.babycalendar .body .week .day a {
	color: var(--babycalendar-day-color);
}

.babycalendar .navigation {
	display: grid;
	grid-template-columns: 0.1fr 0.8fr 0.1fr;
}

.babycalendar .navigation .navigation-button {
	border: 1px solid var(--babycalendar-border-color);
	padding: 0.3em;
}

.babycalendar .navigation .left {
}

.babycalendar .navigation .left:before {
	content: "<";
}

.babycalendar .navigation .right {
}

.babycalendar .navigation .right:before {
	content: ">";
}

.babycalendar .navigation .navigation-label {
	text-align: center;
}
